# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*
!.env.example
!**/.env.example

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# Database
*.db
*.sqlite3

# Upload files
uploads/
